
<div class="container mt-4">
        <div class="input-group mb-3 d-flex justify-content-start">
            <input 
            id="files"
            class="col-1"
            style="visibility:hidden;"
            type="file"
            accept="{{arrTipos}}"
            (change)="onFileSelected($event)"
            (click)="limpiarDatos()"
            >
            <label for="files" class="btn btn-outline-secondary form-control">{{ textoAdjunto }}</label>
            
            <button 
                class="btn btn-danger"
                type="button"
                (click)="limpiarDatos()"
                [disabled]="!base64Output"
            >
                Eliminar
            </button>
            
            <button class="btn btn-primary" (click)="guardar()">
                Guardar
            </button>
        </div>
</div>