
<div class="container mt-4">
        <div class="input-group mb-3 d-flex justify-content-start">
            <input 
            id="files" 
            style="visibility:hidden;" 
            type="file"
            accept="image/png,image/jpeg,image/jpg,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,application/vnd.ms-excel"
            (change)="onFileSelected($event)"
            (click)="limpiarDatos()"
            >
            <label for="files" class="btn btn-outline-secondary form-control">{{ textoAdjunto }}</label>
            
            <button 
                class="btn btn-danger"
                type="button"
                (click)="limpiarDatos()"
            >
                Eliminar
            </button>
            
            <button class="btn btn-primary" (click)="guardar()">
                Guardar
            </button>
        </div>
</div>